@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width-container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.max-width-container.main {
  padding: 50px 0;
}
