.header {
  padding: 10px 0;
  /* background-color: rgb(243, 248, 250); */
  /* border-bottom: 1px solid rgb(228, 234, 237); */
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  margin: 0;
  padding: 0;

}

.header li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.header h2 {
  margin: 0;
  font-weight: normal;
}
