.mainContainer {
  padding: 15px 30px;
  padding-top: 45px;
}

.articleList {
  margin-top: 55px;
}

// $desc-base-color: #3b3b3b;
$desc-base-color: rgba(0,0,0,0.15);

.desc {
  color: $desc-base-color;
  font-size: 0.7rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 900;
  &:after {
    content: '';
    flex: auto;
    margin-left: 1rem;
    border-top: 0.55rem solid lighten($desc-base-color, 20%);
  }
}

.articleList > div {
  margin-bottom: 50px;
}

// https://css-tricks.com/a-lightweight-masonry-solution/
$w: Min(30em, 100%);
$s: 2em;

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, $w);
  grid-template-rows: masonr;
  justify-content: flex-start;
  grid-gap: $s;
  padding: $s;
  margin: 0 -($s);

  > * { width: $w }
}
